<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>

    <meta th:replace="fragments/static.html :: bootstrap">

</head>
<body>
    <div th:replace="fragments/nav.html :: navbar"></div>
    <div class="container">

        <p th:text="'You are logged in as ' + ${#authentication.getPrincipal().getUsername()}"></p>
        <h1>Lastest posts</h1>

        <a class="btn btn-primary btn-sm mb-3" th:href="@{/posts/showFormForAdd}">Create new post</a>

        <hr>

    <div th:each="tempPost: ${posts}">
        <h4 th:text="${tempPost.title}" />
        <small>Written by <a th:href="@{/users(userId=${tempPost.author.getUsername()})}" th:text="${tempPost.author.getUsername()}"></a></small>
        <small><i><p th:text="${#dates.format(tempPost.date, 'dd-MMM-yyyy')}" /></i></small>
        <p th:text="${#strings.abbreviate(tempPost.content, 100)} + '...'" />
        <a class="btn btn-success btn-sm mb-3" th:href="@{/posts/post(postId=${tempPost.id})}">Go to post</a><br>
        <hr>
    </div>
    </div>



</body>
</html>